* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 5px;
	padding: 0 2px;
}

::-webkit-scrollbar-thumb {
	background-color: #9d9d9d;
	border-radius: 2rem;
}


/* tailwindcss Configurations */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply px-6 py-4 md:px-12 md:py-6 lg:px-20 xl:px-28 xl:py-8;
}
